[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Moto fixed by Raj
[access "refs/*"]
	owner = group user/SuperDroidBond (SuperDroidBond)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/SuperDroidBond (SuperDroidBond)
	label-Verified = -1..+1 group user/SuperDroidBond (SuperDroidBond)
	push = group user/SuperDroidBond (SuperDroidBond)
	read = group user/SuperDroidBond (SuperDroidBond)
	rebase = group user/SuperDroidBond (SuperDroidBond)
	removeReviewer = group user/SuperDroidBond (SuperDroidBond)
	submit = group user/SuperDroidBond (SuperDroidBond)
[access "refs/heads/*"]
	create = group user/SuperDroidBond (SuperDroidBond)
	push = +force group user/SuperDroidBond (SuperDroidBond)
	pushMerge = group user/SuperDroidBond (SuperDroidBond)
	read = group user/SuperDroidBond (SuperDroidBond)
[access "refs/tags/*"]
	push = group user/SuperDroidBond (SuperDroidBond)
	push = +force group user/SuperDroidBond (SuperDroidBond)
